.divMenu {
    margin: 1em;    
}
.spanMenu {
    margin: 1em;
    padding: 0.5em;
    color: blue;
    background-color: yellow;
    font-weight: bold;
    cursor: pointer;
}

.spanMenu:hover {
    color: yellow;
    background-color: blue;
    
}

.spanTickers {
    font: 1em verdana;
    color: brown;
    margin-right: 2em;
}

table, th , td {
    border: 1px solid black;
    font-family: 'Courier New', Courier, monospace;
    text-align: right;
}

td.compra {
    background-color: lightsalmon;
    font-weight: bold;
}

td.dividendo {
    background-color: lightgreen;
    font-weight: bold;
}

td.ampliacion  {
    background-color: lightgray;
    font-style: italic;
}

td.venta  {
    background-color: lightcoral;
    font-style: italic;
}

td.derechos {
    background-color:lightpink;
    font-style: italic;

}
td.tdTotal {
    background-color: darkblue;
    font-weight: bolder;
    color: lightyellow;
}

table th {
    color: white;
    text-align: center; 
    padding-right: 2em;
    padding-left: 2em;
    margin-left: 0em;
    font-weight: bolder;
    background-color: black;
}

.tdTickers, .tdFiltro {
    color: blueviolet;
    text-align: center; 
    padding-right: 2em;
    padding-left: 2em;
    margin-left: 0em;
    font-weight: bolder;
    background-color: pink;
    cursor: pointer;
}

.tdTickers:hover {
    color: pink;
    background-color: blueviolet;
}

.tdLote, .tdSpanFiltroBorrar {
    color: darkblue;
    text-align: center; 
    padding-right: 2em;
    padding-left: 2em;
    margin-left: 2em;
    margin-right: 2em;
    font-weight: bolder;
    background-color: lightgoldenrodyellow;
    cursor: pointer;
}

.tdLote:hover, .tdSpanFiltroBorrar:hover, .tdTickerSeleccionado, .tdLoteSeleccionado {
    color: lightgoldenrodyellow;
    background-color: darkblue;
}

.tdFiltro {
    color: black;
    text-align: center; 
    padding-right: 1em;
    padding-left: 2em;
    margin-left: 0em;
    font-weight: bolder;
    background-color: lightblue;
    height: 2em;
}

/*************************************************/
/*************************************************/
/*************************************************/
input[type=radio].css-checkbox {
    position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=radio].css-checkbox + label.css-label {
    padding-left:27px;
    padding-right:17px;
    height:12px; 
    display:inline-block;
    line-height:12px;
    background-repeat:no-repeat;
    background-position: 0 0;
    font-size:18px;
    font-weight: bolder;
    vertical-align:middle;
    cursor:pointer;
    margin: 0.5em;

}

input[type=radio].css-checkbox:checked + label.css-label {
    background-position: 0 -12px;
}
label.css-label {
background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_b2307a28b4566f32019ec2f1dc75922e.png);
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}